always_exclude:
  regex_patterns: []
  prefix_patterns: []
  keyword_patterns: []
  exact_patterns:
  - ad_line
  - adx_14
  - adx_x_vol
  - atr_14
  - bb_width_20
  - close
  - cmf
  - dollar_volume
  - hull_ma_20
  - hull_ma_5
  - macd_hist
  - mfi_14
  - momentum_10
  - obv
  - obv_ema
  - realized_vol_5
  - ret_1m
  - ret_oc
  - ret_ord_30m
  - ret_ord_60m
  - ret_zscore_10m
  - ret_zscore_15m
  - ret_zscore_30m
  - ret_zscore_5m
  - ret_zscore_60m
  - rsi_5
  - rsi_7
  - rsi_x_vol
  - stoch_d_5
  - stoch_x_vol
  - turnover_20
  - turnover_5
  - vol_30m
  - vol_60m
  - vol_over_vol_15m
  - vol_over_vol_5m
  - vol_over_vol_60m
  - vol_x_ret_15m
  - volume
  - volume_ema_5
  - volume_roc_10
  - volume_roc_20
  - volume_roc_5
  - volume_sma_5
  - vwap_dev
  - vwap_dev_high
  - vwap_dev_low
