always_exclude:
  regex_patterns:
  - ^tth_
  - ^tth_abs_
  - ^mfe_share_
  - ^mdd_share_
  - ^time_in_profit_
  - ^time_in_drawdown_
  - ^flipcount_
  - ^hit_direction_
  - ^hit_asym_
  - ^y_first_touch
  - ^y_
  - ^p_
  - ^max_return_
  - ^min_return_
  - ^excursion_
  - ^vol_at_t_
  - ^mfe_\d+m_
  - ^mdd_\d+m_
  - ^barrier_
  prefix_patterns:
  - barrier_
  - excursion_
  - flipcount_
  - hit_asym_
  - hit_direction_
  - max_return_
  - mdd_
  - mdd_share_
  - mfe_
  - mfe_share_
  - min_return_
  - time_in_drawdown_
  - time_in_profit_
  - tth_
  - tth_abs_
  - vol_at_t_
  keyword_patterns:
  - first_touch
  exact_patterns:
  - _day
  - _hour
  - _month
  - _weekday
  - adx_14
  - atr_14
  - atr_x_vol
  - awesome_oscillator
  - bb_width_20
  - beta_60d
  - cmf
  - day_of_month
  - day_of_week
  - flipcount_10m
  - flipcount_15m
  - flipcount_5m
  - flipcount_60m
  - gk_vol_5
  - high_vol_frac
  - ichimoku_chikou
  - macd_hist
  - macd_signal
  - market_correlation_20d
  - market_correlation_60d
  - mass_index
  - mfi_14
  - mfi_21
  - month_of_year
  - negative_volume_index
  - obv
  - obv_ema
  - parkinson_vol_10
  - parkinson_vol_5
  - price_impact
  - price_momentum_60d
  - price_volume_trend
  - realized_vol_20
  - ret2_60m
  - ret_ord_5m
  - ret_zscore_10m
  - ret_zscore_15m
  - ret_zscore_30m
  - ret_zscore_5m
  - ret_zscore_60m
  - roc_50
  - rs_vol_20
  - rsi_10
  - rsi_14
  - rsi_21
  - rsi_30
  - rsi_7
  - sma_200
  - stoch_d_21
  - stoch_k_5
  - time_in_profit_10m
  - time_in_profit_15m
  - time_in_profit_5m
  - time_in_profit_60m
  - trading_day_of_month
  - vol_15m
  - vol_30m
  - vol_60m
  - vol_clustering_15m
  - vol_clustering_60m
  - vol_over_vol_15m
  - vol_over_vol_5m
  - vol_over_vol_60m
  - vol_persistence
  - volatility_60d
  - volume_quantile_20d
  - volume_ratio_20d
  - volume_ratio_5d
  - volume_roc_10
  - volume_sma_20
  - volume_sma_50
  - volume_std_20d
  - volume_volatility_20d
  - yz_vol_20
target_type_rules:
  forward_return:
    prefix_patterns:
    - fwd_ret_
    horizon_overlap:
      enabled: true
      exclude_if_ge: true
      exclude_all: true
  barrier:
    prefix_patterns:
    - tth_
    - tth_abs_
    - hit_direction_
    - hit_asym_
    - fwd_ret_
    keyword_patterns:
    - peak
    - valley
    - swing
    - first_touch
    - zigzag_high
    - zigzag_low
    horizon_overlap:
      enabled: true
      exclude_matching_horizon: true
      exclude_overlapping_horizon: true
  first_touch:
    use_barrier_rules: true
target_classification:
  forward_return:
    prefix: fwd_ret_
  barrier:
    prefix: y_will_
  first_touch:
    keyword: first_touch
    prefix: y_
horizon_extraction:
  patterns:
  - regex: (\d+)m
    multiplier: 1
  - regex: (\d+)h
    multiplier: 60
  - regex: (\d+)d
    multiplier: 1440
metadata_columns:
- ts
- datetime
- symbol
- interval
- source
- date
- time
- timestamp
config:
  exclude_metadata: true
  exclude_targets: true
  exclude_temporal_overlap: true
  verbose_logging: false
